#vallogo{
    width: 70px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 12px;
}

h1{
    color: red;
}

body{
    color: rgb(223, 223, 223);
}

.container{
    width: 1000px;
    margin: 0%;
}

#p2{
    font-size: 20px;
}

#link{
    color: red;
}

.container{
    width: 1000px;
    margin: auto;
}

#link:hover{
    color: white;
}

