#vallogo{
    width: 70px;
}

body{
    font-family: 'Times New Roman', Times, serif
    font-size: 10px;
}

h1{
    color: red;
}

body{
    color: rgb(223, 223, 223);
}

.container{
    width: 1000px;
    margin: 0%;
}

#p2{
    font-size: 20px;
}

#link{
    color: red;
}

.container{
    width: 1000px;
    margin: auto;
}

#link:hover{
    color: white;
}

